<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>smoothie-web admin</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>

    <style>
        p {
            font-size: 32px;
            font-family: Metropolis, sans-serif;
            line-height: 128px;
        }

        .container {
            animation: header-fade-in 1s;
        }

    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header-admin"></div>

<div class="container">
    <h1>Admin</h1>
    <p>
        Click on a thing to do a thing.
    </p>
</div>
</body>
</html>