<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Manage Contest | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        h3 {
            font-size: 24px;
            font-family: Metropolis-bold, sans-serif;
            line-height: 48px;
        }

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        a {
            text-decoration: none;
            color: #009688;
            transition: text-shadow 0.3s;
        }
        a:hover {
            text-shadow: 0 0 2px #00bcd4;
            transition: text-shadow 0.3s;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header-admin"></div>

<div class="container">
    <h1>Manage Contest <a th:href="@{'/contest/' + ${contest.name}}">[[${contest.prettyName}]]</a></h1>

    <h3><a th:href="@{'/contest/' + ${contest.name} + '/edit'}">Edit Contest</a></h3>
    <h3><a th:href="@{'/contest/' + ${contest.name} + '/delete'}">Delete Contest</a></h3>
</div>

</body>
</html>