<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Edit Runner | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
          integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"
            integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz"
            crossorigin="anonymous"></script>

    <style>

        .control {
            width: 20rem;
        }

        .container {
            animation: header-fade-in 1s;
        }

    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header-admin"></div>

<div class="container">
    <h1 class="content" th:if="${newRunner}">New Runner</h1>
    <h1 class="content" th:unless="${newRunner}">Edit Runner</h1>

    <form method="POST" class="standard-form" id="runner-form" th:action="'?'" th:object="${runner}">

        <div class="form-group">
            <label for="runner-name" class="label">
                <span class="text">Runner Name</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="text" class="control" id="runner-name" th:field="*{name}" placeholder="ex. basement-server"
                   required>
        </div>

        <div class="form-group">
            <label for="runner-description" class="label">
                <span class="text">Description</span>
            </label>
            <br/>
            <input type="text" class="control" id="runner-description" th:field="*{description}"
                   placeholder="ex. Server in the basement">
        </div>

        <div class="form-group">
            <label for="runner-host" class="label">
                <span class="text">Host</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="text" class="control" id="runner-host" th:field="*{host}" placeholder="ex. 127.0.0.1"
                   required>
        </div>

        <div class="form-group">
            <label for="runner-port" class="label">
                <span class="text">Port</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="number" class="control" min="0" max="65535" id="runner-port" th:field="*{port}" placeholder="6821"
                   required>
        </div>

        <div class="form-group"><input class="st-button" type="submit" value="Save"></div>

    </form>


</div>
</body>
</html>