<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Manage Users | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>

    <style>
        .container {
            animation: header-fade-in 1s;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header-admin"></div>

<div class="container">
    <h1 class="title-d">Manage Users</h1>
    <table class="standard-table compact" style="width: 80%">
        <thead>

        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Is Admin</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user: ${users}">
            <td><a class="link" th:href="@{'/user/' + ${user.handle} + '/admin'}" th:text="${user.handle}"></a></td>
            <td th:text="${user.email}"></td>
            <td th:if="${user.isAdmin()}">Yes</td>
            <td th:unless="${user.isAdmin()}">No</td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>