<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>smoothie-web</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        h1 {
            font-size: 48px;
            font-family: Metropolis-bold, sans-serif;
            line-height: 96px;
        }

        h3 {
            font-size: 24px;
            font-family: Metropolis-bold, sans-serif;
            line-height: 48px;
        }

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Change Password (~˘▾˘)~</h1>

    <form method="POST" id="form" th:object="${changePasswordForm}">

        <input type="password" id="current" th:field="*{currentPassword}" placeholder="current password" required class="inputbox">
        <br/>
        <br/>
        <input type="password" id="confirmPassword" placeholder="new password" required class="inputbox">
        <br/>
        <br/>
        <input type="password" id="passwordBox" th:field="*{password}" placeholder="confirm password" required class="inputbox">
        <br/>
        <br/>
        <input value="Change" type="submit">
    </form>

</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>

<script>
    let password = document.getElementById("confirmPassword"), confirmPassword = document.getElementById("passwordBox");

    function validatePassword(){
        if(password.value != confirmPassword.value) {
            confirmPassword.setCustomValidity("Passwords Don't Match");
        } else {
            confirmPassword.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
</script>

</body>
</html>