<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Change Password | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        .control {
            width: calc(18rem - 3px);
        }

        .st-button {
            width: 19rem;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="content">Change Password (~˘▾˘)~</h1>

    <form method="POST" class="standard-form" th:action="'?'" id="form" autocomplete="off" th:object="${changePasswordForm}">

        <div class="form-group">
            <label for="current" class="label">
                <span class="text">Current Password</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="password" id="current" th:field="*{currentPassword}" required class="control">
        </div>

        <div class="form-group">
            <label for="passwordBox" class="label">
                <span class="text">New Password</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="password" id="passwordBox" th:field="*{password}" required class="control">
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="label">
                <span class="text">Confirm Password</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="password" id="confirmPassword" required class="control">
        </div>

        <div class="form-group">
            <input value="Change" type="submit" class="st-button">
        </div>
    </form>

</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>

<script>
    let password = document.getElementById("passwordBox"), confirmPassword = document.getElementById("confirmPassword");

    function validatePassword(){
        if(password.value != confirmPassword.value) {
            confirmPassword.setCustomValidity("Passwords Must Match");
        } else {
            confirmPassword.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
</script>

</body>
</html>