<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Edit Profile | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        textarea.control {
            width: 80%;
            color: #424242;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="content">Edit Profile<span th:if="${isAdmin}"> of [[${user.handle}]]</span></h1>

    <form method="POST" class="standard-form" th:action="'?'" id="form" th:object="${profileForm}">

        <div class="form-group">
            <label class="label" for="description">
                <span class="text">Description</span>
            </label>
            <br/>
            <textarea class="control" id="description" form="form" th:field="*{description}" rows="5"></textarea>
        </div>

        <div class="form-group">
            <input value="Save" class="st-button" type="submit">
        </div>
    </form>

</div>

</body>
</html>