<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>smoothie-web</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        a {
            text-decoration: none;
            color: #009688;
            transition: text-shadow 0.3s;
        }

        a:hover {
            text-shadow: 0 0 2px #00bcd4;
            transition: text-shadow 0.3s;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Account Settings</h1>

    <h3><a th:href="@{'/user/' + ${user.handle} + '/edit'}">Edit Profile</a></h3>
    <h3><a th:href="@{/account/change-password}">Change Password</a></h3>
</div>

</body>
</html>