<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>User [[${user.handle}]] | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/top-flex-bar.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        p {
            font-size: 18px;
            line-height: 1.5;
            font-family: Nunito, sans-serif;
            color: #424242;
        }

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        hr {
            color: #9e9e9e;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>User [[${user.handle}]]</h1>

    <div class="topbar">
        <div class="topbar-item">
            Rank
            <br/>
            <span class="topbar-bottom-text">-1</span>
        </div>
        <div class="topbar-item">
            Solved
            <br/> <span th:text="${user.solved.size()}" class="topbar-bottom-text"></span>
        </div>
        <div class="topbar-item">
            Points
            <br/> <span th:text="${user.points}" class="topbar-bottom-text"></span>
        </div>
        <div style="margin-left: auto;">
            <a class="button-link" th:href="@{'/user/' + ${user.handle} + '/submissions'}">Submissions</a>
            <span th:if="${allowEdit}">
                <a class="button-link" th:href="@{'/user/' + ${user.handle} + '/edit'}">Edit Profile</a>
                <a class="button-link" th:href="@{'/account/settings'}">Account Settings</a>
            </span>
            <a class="button-link" th:href="@{'/user/' + ${user.handle} + '/admin'}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
        </div>
    </div>

    <h3>Description</h3>
    <p style="white-space: pre;">
[[${user.description}]]
    </p>

</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>

</body>
</html>