<head xmlns:th="http://www.thymeleaf.org" th:fragment="global-head (pageName)">
    <meta charset="UTF-8">
    <title th:text="${pageName} | smoothie-web">smoothie-web</title>
    <link rel="icon" href="../../static/favicons/lambda-48x48.png" sizes="32x32"/>
    <link rel="icon" href="../../static/favicons/lambda.png" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" href="../../static/favicons/lambda.png"/>
    <meta name="msapplication-TileImage" content="../../static/favicons/lambda.png"/>
</head>