<div class="header-admin" xmlns:th="http://www.thymeleaf.org">
    <a href="/" th:href="@{/admin}" class="header-admin-title"><b>Admin Panel</b></a>
    <a href="/admin/problems" th:href="@{/admin/problems}" >Problems</a>
    <a href="/admin/contests" th:href="@{/admin/contests}" >Contests</a>
    <a href="/admin/pages" th:href="@{/admin/pages}" >Pages</a>
    <a href="/admin/users" th:href="@{/admin/users}">Users</a>
    <a href="/admin/runners" th:href="@{/admin/runners}">Runners</a>
    <a href="/admin/general" th:href="@{/admin/general}">General</a>
</div>