.button-link {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0 #607d8b;
    cursor: pointer;
    transition: box-shadow 0.3s;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;
    color: #424242;
    text-decoration: none;
    outline: none;
}

.button-link:focus {
    outline: 0;
}

.button-link:hover {
    box-shadow: 1px 1px 15px 0 #607d8b;
    transition: box-shadow 0.3s;
}