@font-face {
    font-family: Metropolis;
    src: url(/fonts/Metropolis-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Metropolis-Bold;
    src: url(/fonts/Metropolis-Bold.woff2) format('woff2');
}

@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito.woff2) format('woff2');
}

@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/RedHatDisplayExt.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/RedHatDisplay.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/RedHatDisplay-Medium.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/RedHatText-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/RedHatText-Medium.woff) format('woff');
}

body {
    margin: 0;
}

.container {
    margin: 100px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
