.header-admin {
    overflow: hidden;
    background-color: #e91e63;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0 #e91e63;
    margin: 10px 10px 10px 10px;
}

.header-admin a {
    font-family: Metropolis, sans-serif;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 12px;
}

.header-admin a:hover {
    text-shadow: 0 0 5px #FFFFFF;
    transition: text-shadow 0.5s;
}

.header-admin-title {
    margin-right: 10px;
}