header {
    font-family: 'Red Hat Display', sans-serif;
    line-height: 24px;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 300;
    box-shadow: 0 6px 8px -1px gray;
}

header a, header .button-as-link {
    border-top: rgb(21, 21, 21) 3px solid;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    padding: 17px 16px 20px 16px;
    white-space: nowrap;
    text-align: left;
    color: white;
    display: inline-block;
    transition: color, background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s, border-top;
}

header .button-as-link {
    border: none;
    background: none;
}

header a.box-left:hover, header .button-as-link.box-left:hover {
    text-shadow: 0 0 5px #e0e0e0;
    color: rgb(21, 21, 21);
    border-top: #737679 3px solid;
    background-color: white;
    box-shadow: 0 4px 8px -1px white;
    transition: color 0.3s, background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

.header-title {
    margin-right: 10px;
    padding-left: 24px;
    padding-right: 32px;
    text-align: left;
}

.header-title:hover, header a.box-right:hover, header .button-as-link.box-right:hover {
    text-shadow: 0 0 5px #ffffff;
    color: white;
    background-color: rgb(21, 21, 21);
    transition: text-shadow 0.5s;
}

.header-right {
    margin-left: auto;
}

@keyframes header-fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#contest-clock-box {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    position: fixed;
    background: linear-gradient(60deg, #2c3e50, #607d8b);
    padding: 10px 15px 10px 15px;
    text-align: center;
    cursor: move;
    color: white;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 10.2px 30.6px 0 rgba(0, 0, 0, .108);
    z-index: 10;
    transition: box-shadow 0.5s, border-radius 0.5s, background 0.5s;
}

#contest-clock-box:hover {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .202), 0 10px 30px 0 rgba(0, 0, 0, .158);
    border-radius: 7px;
    transition: box-shadow 0.5s, border-radius 0.5s;
}

