header {
    overflow: hidden;
    background-color: #263238;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0 #263238;
    margin: 10px 10px 10px 10px;
    /*animation: header-fade-in 0.8s;*/
}

@keyframes header-fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

header a, header .button-as-link {
    font-family: Metropolis, sans-serif;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    transition: text-shadow 0.5s;
    outline: none;
    cursor: pointer;
}

header .button-as-link {
    border: none;
    background: none;
}

header a:hover, header .button-as-link:hover {
    text-shadow: 0 0 5px #FFFFFF;
    transition: text-shadow 0.5s;
}

.header-title {
    margin-right: 10px;
}
.header-right {
    float: right;
}

#contest-clock-box {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    position: fixed;
    background: linear-gradient(60deg, #2c3e50, #607d8b);
    padding: 10px 15px 10px 15px;
    text-align: center;
    cursor: move;
    color: white;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 10.2px 30.6px 0 rgba(0, 0, 0, .108);
    z-index: 10;
    transition: box-shadow 0.5s, border-radius 0.5s, background 0.5s;
}

#contest-clock-box:hover {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .202), 0 10px 30px 0 rgba(0, 0, 0, .158);
    border-radius: 7px;
    transition: box-shadow 0.5s, border-radius 0.5s;
}

