.container {
    animation: header-fade-in 1s;
}

.green {
    color: #009688;
    text-shadow: 0 0 2px #009688;
}
.red {
    color: #f44336;
    text-shadow: 0 0 2px #f44336;
}
.grey {
    color: #9e9e9e;
    text-shadow: 0 0 2px #9e9e9e;
}