p {
    font-size: 32px;
    font-family: Metropolis, sans-serif;
    line-height: 128px;

}

.container {
    animation: header-fade-in 1s;
}

th {
    text-align: left;
}
tr {
    line-height: 50px;
}

a {
    text-decoration: none;
    color: #009688;
    transition: text-shadow 0.3s;
}
a:hover {
    text-shadow: 0 0 2px #00bcd4;
    transition: text-shadow 0.3s;
}