<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>[[${contest.prettyName}]] | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/top-flex-bar.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/lib/katex-0.11.1.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title-d" th:text="${contest.prettyName}"></h1>

    <div class="topbar">
        <div class="topbar-item">
            <span class="material-icons" style="vertical-align: middle;">access_time</span> Start Time
            <br/><span th:text="${contest.timeStart}" id="start-time" class="topbar-bottom-text"></span>
        </div>
        <div class="topbar-item">
            <span class="material-icons" style="vertical-align: middle;">access_time</span> End Time
            <br/><span th:text="${contest.timeEnd}" id="end-time" class="topbar-bottom-text"></span>
        </div>
        <div class="topbar-item">
            <span class="material-icons" style="vertical-align: middle;">timer</span> Submission Window
            <br/><span th:unless="${contest.submissionPeriod} == 0" th:text="${contest.submissionPeriod}" id="submission-window" class="topbar-bottom-text"></span>
            <span th:if="${contest.submissionPeriod} == 0" class="topbar-bottom-text">full contest</span>
        </div>
        <div class="topbar-item">
            <span class="material-icons" style="vertical-align: middle;">grade</span> Status
            <br/> <span class="topbar-bottom-text" th:text="${contest.getStatus().getPretty().toLowerCase()}"></span>
        </div>

        <form th:action="@{'/contest/' + ${contest.name} + '/join'}" method="post" id="joinContest"></form>
        <form th:action="@{'/contest/' + ${contest.name} + '/leave'}" method="post" id="leaveContest"></form>

        <div style="margin-left: auto;">
            <a class="button-link" th:href="@{'/contest/' + ${contest.name} + '/problems'}" th:if="${contest.hasPermissionToViewProblems(#authentication)}">Problems</a>
            <a class="button-link" th:href="@{'/contest/' + ${contest.name} + '/leaderboard'}">Leaderboard</a>
            <a class="button-link" th:href="@{'/contest/' + ${contest.name} + '/submissions'}" th:if="${contest.hasPermissionToViewProblems(#authentication)}">Submissions</a>
            <button class="button-link" th:unless="${currentContest}" form="joinContest" sec:authorize="isAuthenticated()">Join</button>
            <button class="button-link" th:if="${currentContest}" form="leaveContest">Leave</button>
            <a class="button-link" th:href="@{'/contest/' + ${contest.name} + '/admin'}" th:if="${contest.hasPermissionToManage(#authentication)}">Manage</a>
        </div>
    </div>

    <p id="contest-description" class="content" th:text="${contest.description}" style="white-space: pre;">
    </p>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/katex-0.11.1.min.js}"></script>
<script th:src="@{/js/markdown-it-9.1.0.min.js}"></script>
<script th:src="@{/js/render-md-latex.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>

<script th:inline="javascript">
    // load header
    let $start = $("#start-time"), $end = $("#end-time"), $subPeriod = $("#submission-window");
    $start.text(moment(parseInt($start.text(), 10)).format('LLL'));
    $end.text(moment(parseInt($end.text(), 10)).format('LLL'));
    $subPeriod.text($subPeriod.text() + " minutes");

    // load contest statement
    // use javascript for text because minify strips whitespace
    let statementText = /*[[${contest.description}]]*/;
    let statement = $('#contest-description');
    statement.html(renderMdLatex(statement.text()));
    statement.css('white-space', 'normal')
</script>
</body>
</html>