<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Contest [[${contest.prettyName}]] Problems | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/problems-shared.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title">Problems</h1>
    <table class="standard-table" style="width: 80%">
        <thead>

        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="problem: ${contest.getContestProblemsInOrder()}">
            <!-- todo do colour -->
            <td th:text="${problem.contestProblemNumber}+1"></td>
            <td><a class="link" th:href="@{'/contest/' + ${contest.name} + '/problem/' + ${problem.contestProblemNumber}}" th:text="${problem.customName}"></a></td>
            <td th:text="${problem.totalPointsWorth}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>