<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>

    <style>
        h1 {
            font-size: 64px;
            font-family: Metropolis-bold, sans-serif;
            line-height: 128px;
        }
        p {
            font-size: 32px;
            font-family: Metropolis, sans-serif;
            line-height: 128px;

        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Smoothie-Web</h1>
    <p>
        Hey there! You are logged in as <span th:if="${name == null}">none</span> <span th:if="${name}"><span th:text="${name}"></span></span>.
    </p>
</div>
</body>
</html>