<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>Login | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        .width {
            width: calc(18rem - 3px);
        }

        .st-button {
            width: 19rem;
        }

    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div th:if="${param.error}" style="color: #c9190b">
        Wrong username or password.
    </div>
    <h1 class="content">Log in your account <i class="material-icons">sync</i></h1>
    <h3 class="content">Have a lot of fun...</h3>
    <form method="POST" class="standard-form">
        <div class="form-group">
            <label for="username" class="label">
                <span class="text">Username</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="text" id="username" name="username" class="control width" required>
        </div>
        <div class="form-group">
            <label for="password" class="label">
                <span class="text">Password</span>
                <span class="required">*</span>
            </label>
            <br/>
            <input type="password" id="password" name="password" class="control width" required>
        </div>

        <br/>
        <br/>
        <input type="submit" class="st-button" id="login" value="Log in">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
    <br/>
    <h5 class="content"><a th:href="@{/register}">Sign up for an account.</a></h5>
    <h5 class="content"><a th:href="@{/register}">Forgot username or password?</a></h5>
</div>

</body>
</html>