<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <div th:replace="fragments/favicon"></div>
    <title>Problems | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/problems-shared.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title-d">Problems</h1>
    <table class="standard-table sortable" style="width: 80%">
        <thead>

        <tr>
            <th>Name</th>
            <th>Users Solved</th>
            <th>AC %</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="problem: ${problems}">
            <td><a class="link" th:href="@{'/problem/' + ${problem.name}}" th:text="${problem.prettyName}"></a></td>
            <td th:text="${problem.usersSolved}"></td>
            <td th:text="${problem.rateOfAC}"></td>
            <td th:text="${problem.scoreMultiplier}"></td>
        </tr>

        </tbody>
    </table>

    <div th:if="${numOfEntries >= paramPageSize}" th:include="fragments/pagination"></div>
</div>
</body>
</html>