<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <div th:replace="fragments/favicon"></div>
    <title th:if="${contestProblem}">Submit to [[${contestProblem.customName}]] | [[${siteName}]]</title>
    <title th:unless="${contestProblem}">Submit to [[${problem.prettyName}]] | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">

    <style>

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        .bottom {
            text-align: center;
            margin-top: 4rem;
        }

        select {
            border-left-color: #e0e0e0 !important;
            border-top-color: #e0e0e0 !important;
            border-right-color: #e0e0e0 !important;
            margin-right: 1rem;
            padding: 0.375rem 1rem 0.375rem 1rem !important;
        }

    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title-d" th:if="${contestProblem}">Submit solution for [[${contestProblem.customName}]]</h1>
    <h1 class="title-d" th:unless="${contestProblem}">Submit solution for [[${problem.prettyName}]]</h1>

    <form method="POST" class="standard-form" id="submit-form" th:object="${submitRequest}" th:action="${postUrl}" onsubmit="addCodeToPost()">
        <label for="code-box">

        </label>
        <div id="code-box" style="height: 500px; width: 100%;"></div>

        <div class="bottom">
            <textarea form="submit-form" id="code" th:field="*{code}" style="display:none"></textarea>

            <select class="control" form="submit-form" id="dropdown" th:field="*{language}">
                <option th:each="lang : ${languages}" th:value="${lang.getPrettyName()}"
                        th:text="${lang.getPrettyName()}" ></option>
            </select>

            <input class="st-button" type="submit" value="Submit">
        </div>
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
<script th:inline="javascript">
    let editor = ace.edit(document.getElementById("code-box"), {
        selectionStyle: "text",
        newLineMode: "unix",
        theme: "ace/theme/clouds",
        fontSize: 14,
        fontFamily: '"Fira Code", sans-serif',
        mode: "ace/mode/c_cpp",
    });

    let languages = /*[[${languages}]]*/

    function getCurrentLang() {
        let $ = document.getElementById("dropdown"), v = $.options[$.selectedIndex].value;
        let ans = "ace/mode/c_cpp";
        languages.forEach(l => {
            if (v === l.prettyName) {
                ans = l.aceEditorLang;
            }
        });
        return ans;
    }

    document.getElementById('dropdown').addEventListener('change', () => editor.setOption("mode", getCurrentLang()));

    // resubmit
    let code = /*[[${submitRequest.code}]]*/;
    if (code != null) {
        editor.setValue(code);
    }

    function addCodeToPost() {
        document.getElementById("code").value = editor.getValue();
    }
</script>
</body>
</html>