<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>smoothie-web</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/submissions.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Submissions for <a th:href="@{'/problem/' + ${problem.name}}">[[${problem.prettyName}]]</a></h1>
    <table style="width: 80%">
        <thead>
        <tr>
            <th>Submission Id</th>
            <th>Verdict</th>
            <th>Language</th>
            <th>User</th>
            <th>Date</th>
        </tr>
        <tr><th colspan="5"><hr/></th></tr>
        </thead>
        <tbody>

        <tr th:each="submission: ${submissions}">
            <td><a th:href="@{'/submission/' + ${submission.id}}" th:text="${submission.id}"></a></td>
            <td th:text="${submission.verdict}"></td>
            <td th:text="${submission.lang}"></td>
            <td th:text="${submission.userId}"></td>
            <td th:text="${submission.timeSubmitted}" class="timeSubmitted"></td>
        </tr>

        </tbody>
    </table>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
    $(() => {
        $(".timeSubmitted").each((i, obj) => {
            // properly format time
            let date = new Date(obj.innerText*1000);
            obj.innerText = ("0" + (date.getMonth()+1)).slice(-2) + "/" + date.getDate() + "/" + date.getFullYear() + " " + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2);
        });
    })
</script>
</body>
</html>