<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>[[${user.handle}]]'s Submissions | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/submissions.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title"><a class="link" th:href="@{'/user/' + ${user.handle}}">[[${user.handle}]]</a>'s submissions</h1>
    <table class="standard-table" style="width: 80%">
        <thead>
        <tr>
            <th>Verdict</th>
            <th>Status</th>
            <th>Problem</th>
            <th>Submission</th>
            <th>Language</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="submission : ${submissions}">

            <td th:unless="${submission.verdict} == 'AR'" th:id="'submission-' + ${submission.id} + '-verdict'"><b>[[${submission.points}]] / [[${submission.maxPoints}]]</b></td>
            <td th:if="${submission.verdict} == 'AR'" th:id="'submission-' + ${submission.id} + '-verdict'">Waiting...</td>
            <td th:text="${submission.verdict}" th:id="'submission-' + ${submission.id} + '-status'"></td>

            <td><a class="link" th:href="@{'/problem/' + ${problems.get(submission.problemId)?.name}}" th:text="${problems.get(submission.problemId)?.prettyName}"></a></td>
            <td>
                <a class="link" th:href="@{'/submission/' + ${submission.id}}" th:if="${problems.get(submission.problemId)} and ${submission.hasPermissionToView(#authentication, problems.get(submission.problemId))}">Click to View</a>
                <span th:unless="${problems.get(submission.problemId)} and ${submission.hasPermissionToView(#authentication, problems.get(submission.problemId))}">Can't View</span>
            </td>
            <td th:text="${submission.lang}"></td>
            <td th:text="${submission.timeSubmitted}" class="timeSubmitted"></td>
        </tr>

        </tbody>
    </table>

    <div th:if="${numOfEntries >= paramPageSize}" th:include="fragments/pagination"></div>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:inline="javascript">
    let userHandle = /*[[${user.handle}]]*/;
    let doLive = /*[[!${paramPage} or ${paramPage} == 1]]*/; // only do websockets on first page

    function connect() {
        let prefix = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/ws";
        let socket = new WebSocket(prefix + '/live-submission-list');
        socket.addEventListener('open', e => {
            console.log('Connected to websocket.');
            socket.send(JSON.stringify({username: userHandle}));
        });
        socket.addEventListener('close', e => {
            console.log('Disconnected from websocket.');
        });
        socket.addEventListener('message', e => {
            console.log(e.data);
            let arr = JSON.parse(e.data);
            arr.forEach(parsed => {
                let pref = '#submission-' + parsed.submissionId;
                console.log(parsed);

                let verdict;
                if (parsed.submissionStatus === 'AWAITING_RUNNER') {
                    verdict = 'Waiting...';
                } else if (parsed.submissionStatus === 'JUDGING') {
                    verdict = 'Judging...'
                } else {
                    verdict = '<b>' + parsed.pointsAwarded + ' / ' + parsed.pointsMax + '</b>';
                }

                let subLink;
                if (parsed.permissionToView) {
                    subLink = '<a class="link" href="/submission/' + parsed.submissionId + '">Click to View</a>';
                } else {
                    subLink = "Can't View";
                }

                if ($(pref + '-verdict').length === 0) { // does not exist
                    $('.standard-table tbody').prepend(`
                    <tr>
                        <td id="submission-` + parsed.submissionId + `-verdict">` + verdict + `</td>
                        <td id="submission-` + parsed.submissionId + `-status">` + parsed.verdict + `</td>
                        <td><a class="link" href="/problem/` + parsed.problemName + `">` + parsed.problemPrettyName + `</a></td>
                        <td>` + subLink + `</td>
                        <td>` + parsed.language + `</td>
                        <td class="timeSubmitted">` + moment(parsed.time*1).format('LLL') + `</td>
                    </tr>
                `);
                } else {
                    $(pref + '-verdict').html(verdict);
                    $(pref + '-status').html(parsed.verdict);
                }
            });
        });
    }

    $(() => {
        if (doLive) connect();
        $(".timeSubmitted").each((i, obj) => {
            // properly format time
            obj.innerText = moment(obj.innerText*1).format('LLL');
        });
    })
</script>
</body>
</html>