<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title>[[${user.handle}]]'s Submissions | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/submissions.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/title.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1><a th:href="@{'/user/' + ${user.handle}}">[[${user.handle}]]</a>'s submissions </h1>
    <table style="width: 80%">
        <thead>
        <tr>
            <th>Problem Id</th>
            <th>Submission Id</th>
            <th>Verdict</th>
            <th>Language</th>
            <th>Date</th>
        </tr>
        <tr><th colspan="5"><hr/></th></tr>
        </thead>
        <tbody>

        <tr th:each="submission: ${submissions}">
            <td><a th:href="@{'/problem/' + ${problems.get(submission.problemId)?.name}}" th:text="${problems.get(submission.problemId)?.prettyName}"></a></td>
            <td><a th:href="@{'/submission/' + ${submission.id}}" th:text="${submission.id}"></a></td>
            <td th:text="${submission.verdict}"></td>
            <td th:text="${submission.lang}"></td>
            <td th:text="${submission.timeSubmitted}" class="timeSubmitted"></td>
        </tr>

        </tbody>
    </table>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script>
    $(() => {
        $(".timeSubmitted").each((i, obj) => {
            // properly format time
            obj.innerText = moment(obj.innerText*1000).format('LLL');
        });
    })
</script>
</body>
</html>