<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <div th:replace="fragments/favicon"></div>
    <title>Submissions for [[${contest.prettyName}]] | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/submissions.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title">Submissions for <a class="link" th:href="@{'/contest/' + ${contest.name}}">[[${contest.prettyName}]]</a></h1>
    <table class="standard-table" style="width: 80%">
        <thead>
        <tr>
            <th>Verdict</th>
            <th>Status</th>
            <th>Problem</th>
            <th>User</th>
            <th>Submission</th>
            <th>Language</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="submission: ${submissions}">

            <!-- Verdict -->
            <td th:unless="${submission.verdict} == 'AR'" th:id="'submission-' + ${submission.id} + '-verdict'"><b>[[${submission.points}]] / [[${submission.maxPoints}]]</b></td>
            <td th:if="${submission.verdict} == 'AR'" th:id="'submission-' + ${submission.id} + '-verdict'">Waiting...</td>

            <!-- Status -->
            <td th:id="'submission-' + ${submission.id} + '-status'">
                <span class="green" th:if="${submission.verdict} == 'AC'" th:text="${submission.verdict}"></span>
                <span class="red" th:if="${submission.verdict} == 'WA'" th:text="${submission.verdict}"></span>
                <span class="grey" th:if="${submission.verdict} != 'AC' and ${submission.verdict} != 'WA'" th:text="${submission.verdict}"></span>
            </td>

            <td><a class="link" th:href="@{'/contest/' + ${contest.name} + '/problem/' + ${contest.getContestProblems().get(submission.problemId)?.contestProblemNumber}}" th:text="${contest.getContestProblems().get(submission.problemId)?.customName}"></a></td>
            <td><a class="link" th:href="@{'/user/' + ${users.get(submission.userId)?.handle}}" th:text="${users.get(submission.userId)?.handle}"></a></td>
            <!-- Submission -->
            <td>
                <a class="link" th:href="@{'/submission/' + ${submission.id}}" th:if="${problems.get(submission.problemId)} and ${submission.hasPermissionToView(#authentication, problems.get(submission.problemId))}">Click to View</a>
                <span th:unless="${problems.get(submission.problemId)} and ${submission.hasPermissionToView(#authentication, problems.get(submission.problemId))}">Can't View</span>
            </td>
            <td th:text="${submission.lang}"></td>
            <td th:text="${submission.timeSubmitted}" class="timeSubmitted"></td>
        </tr>

        </tbody>
    </table>

    <div th:if="${numOfEntries >= paramPageSize}" th:include="fragments/pagination"></div>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/submissions.js}"></script>
<script th:inline="javascript">
    let contestName = /*[[${contest?.name}]]*/ null;
    let doLive = /*[[!${paramPage} or ${paramPage} == 1]]*/; // only do websockets on first page

    function connect() {
        let prefix = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/ws";
        let socket = new WebSocket(prefix + '/live-submission-list');
        socket.addEventListener('open', e => {
            console.log('Connected to websocket.');
            socket.send(JSON.stringify({contestId: contestName}));
        });
        socket.addEventListener('close', e => {
            console.log('Disconnected from websocket.');
        });
        socket.addEventListener('message', e => {
            console.log(e.data);
            JSON.parse(e.data).forEach(parsed => {
                let pref = '#submission-' + parsed.submissionId;
                if ($(pref + '-verdict').length === 0) { // does not exist
                    $('.standard-table tbody').prepend(`
                    <tr>
                        <td id="submission-` + parsed.submissionId + `-verdict">` + getVerdict(parsed) + `</td>
                        <td id="submission-` + parsed.submissionId + `-status">` + getStatus(parsed) + `</td>
                        <td><a class="link" href="/problem/` + parsed.problemName + `">` + parsed.problemPrettyName + `</a></td>
                        <td><a class="link" href="/user/` + parsed.userName + `">` + parsed.userName + `</a></td>
                        <td>` + getSubLink(parsed) + `</td>
                        <td>` + parsed.language + `</td>
                        <td class="timeSubmitted">` + moment(parsed.time*1).format('LLL') + `</td>
                    </tr>
                `);
                } else {
                    $(pref + '-verdict').html(getVerdict(parsed));
                    $(pref + '-status').html(getStatus(parsed));
                }
            });
        });
    }

    $(() => {
        if (doLive) connect();
        $(".timeSubmitted").each((i, obj) => {
            // properly format time
            obj.innerText = moment(obj.innerText*1).format('LLL');
        });
    })
</script>
</body>
</html>