<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- ignore tag name "script", it will be replaced by favicon fragment -->
    <script th:replace="fragments/favicon"></script>
    <title th:if="${contestProblem}">Submission for [[${contestProblem.customName}]] | [[${siteName}]]</title>
    <title th:unless="${contestProblem}">Submission for [[${problem.name}]] | [[${siteName}]]</title>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/top-flex-bar.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/elevated/button.css}"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        li {
            font-size: 18px;
            line-height: 1.5;
            font-family: Metropolis, sans-serif;
        }

        .container {
            animation: header-fade-in 1s;
            line-height: 1.5;
        }

        hr {
            color: #9e9e9e;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="title" th:if="${contestProblem}">Submission for <a class="link" th:href="@{'/contest/' + ${contest.name} + '/problem/' + ${contestProblem.contestProblemNumber}}">[[${contestProblem.customName}]]</a> in [[${submission.lang}]] by [[${user.handle}]]</h1>
    <h1 class="title" th:unless="${contestProblem}">Submission for <a class="link" th:href="@{'/problem/' + ${problem.name}}">[[${problem.prettyName}]]</a> in [[${submission.lang}]] by [[${user.handle}]]</h1>

    <div class="topbar">
        <div class="topbar-item">
            Submitted
            <br/> <span th:text="${submission.timeSubmitted}" id="time-submitted" class="topbar-bottom-text"></span>
        </div>
        <div class="topbar-item">
            Language
            <br/> <span th:text="${submission.lang}" class="topbar-bottom-text"></span>
        </div>
        <div class="topbar-item">
            Status
            <br/> <span th:text="${submission.status}" id="submission-status" class="topbar-bottom-text"></span>
        </div>
        <div class="topbar-item">
            <a class="button-link" th:href="@{'/submission/' + ${submission.id} + '/code'}">Code</a>
            <a class="button-link" th:href="@{'/submission/' + ${submission.id} + '/resubmit'}" sec:authorize="isAuthenticated()" th:if="${user.handle} == ${#authentication.getPrincipal().getUsername()}">Resubmit</a>
        </div>
    </div>

    <div id="submission-content">
        <div th:unless="${submission.compileError} == null">
            <h3 class="title">Compile Error</h3>
            <p th:text="${submission.compileError}"></p>
        </div>

        <ul th:if="${submission.compileError} == null">
            <li th:each="batch, iter : ${submission.batchCases}">
                Batch #[[${iter.index}+1]]:
                <ul>
                    <li th:each="case, iter2 : ${batch.cases}" th:id="'batch-' + ${iter.index} + '-case-' + ${iter2.index}">
                        Case #[[${iter2.index}+1]]: [[${case.resultCode}]] (<span class="case-time">[[${case.time}]]</span>s) ([[${case.memUsage}]]MB)
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>

<script th:inline="javascript">

    let id = /*[[${submission.id}]]*/;
    console.log('ID: ' + id);

    function connect() {
        let prefix = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/ws";
        let socket = new WebSocket(prefix + '/live-submission');
        socket.addEventListener('open', e => {
            console.log('Connected to websocket.');
            socket.send(id);
        });
        socket.addEventListener('close', e => {
            console.log('Disconnected from websocket.');
        });
        socket.addEventListener('message', e => {
            console.log(e.data);
            let parsed = JSON.parse(e.data);
            $('#submission-status').text(parsed.status);
            if (parsed.compileError != null) {
                $('#submission-content').html("<h3 class='title'>Compile Error</h3><p>" + parsed.compileError + "</p>");
            } else if (parsed.batchCases != null) {
                parsed.batchCases.forEach(sub => {
                    $("#batch-" + sub.batchNumber + "-case-" + sub.caseNumber).text("Case #" + (sub.caseNumber + 1) + ": " + sub.resultCode + " (" + (Math.round(sub.time * 1000) / 1000).toFixed(3) + "s) (" + sub.memUsage + "MB)");
                });
            }
        });
    }

    $(() => {
        // properly format time
        let timeSubmitted = $("#time-submitted");
        let date = new Date(timeSubmitted.text()*1);
        timeSubmitted.text(("0" + (date.getMonth()+1)).slice(-2) + "/" + date.getDate() + "/" + date.getFullYear() + " " + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2));

        // connect to websocket
        connect();

        $(".case-time").each((i, obj) => {
            obj.innerText = (Math.round(obj.innerText*1000)/1000).toFixed(3);
        })
    })

</script>

</body>
</html>