.button-link {
    border-radius: 5px;
    box-shadow: 0 3px 14.4px 0 rgba(0, 0, 0, .20), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    cursor: pointer;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 14px 10px 14px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    color: #757575;
    text-decoration: none;
    transform: translateY(0);
    transition: transform 0.3s, box-shadow 0.3s;
}

a.button-link {
    display: inline-block;
    line-height: normal;
}

.button-link:focus {
    outline: 0;
}

.button-link:hover {
    box-shadow: 0 3px 14.4px 0 rgba(0, 102, 204, 0.22), 0 1.2px 3.6px 0 rgba(0, 102, 204, 0.15);
    /*box-shadow: 1px 1px 12px 0 rgb(0, 102, 204);*/
    transform: translateY(-5px);
    transition: box-shadow 0.3s, transform 0.3s;
}