
/* -=- hr -=- */

hr {
    border: none;
    color: #d2d2d2;
    background-color: #d2d2d2;
    height: 1px;
}

/* -=- link -=- */

a.link, .content a {
    color: #0277bd;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: text-shadow 0.3s, text-decoration 0.3s;
    position: relative;
}

a.link:before, .content a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #009688;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.link:hover:before, .content a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

a.link:hover, .content a:hover {
    text-shadow: 0 0 1px #00bcd4;
    transition: text-shadow 0.3s;
}

/* -=- title -=- */

h1.title, h1.title-d {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

h3.title, h3.title-d {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h1.title-d {
    line-height: 2;
}

h3.title-d {
    line-height: 2;
}

/* -=- text -=- */

.content {
    font-family: 'Red Hat Text', sans-serif;
    color: #151515;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
}

.content h1, h1.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h2, h2.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h3, h3.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h4, h4.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h5, h5.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h6, h6.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content li, li.content {
    margin-top: 0.5rem;
}

.content ol, ol.content {
    padding-left: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.content ul, ul.content {
    list-style: disc outside;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.content small, small.content {
    color: #737679;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.content blockquote, blockquote.content {
    border-left-color: #d2d2d2;
    border-left-width: 3px;
    color: #737679;
    font-weight: normal;
    padding: 1rem 1rem 1rem 1rem;
}

.content dl, dl.content {
    column-gap: 3rem;
    row-gap: 1rem;
}

.content dt, dt.content {
    font-weight: 700;
    margin-top: 1rem;
}



/* -=- tables -=- */

table.standard-table {
    text-rendering: optimizeLegibility;
    border-bottom-color: rgb(128, 128, 128);
    line-height: 24px;
    border-collapse: collapse;
}

table.standard-table > thead > tr {
    line-height: 21px;
}

table.standard-table > thead > tr > th {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 16px 16px 16px 24px;
    color: rgb(21, 21, 21);
    border-bottom: 1px solid #d2d2d2;
}

table.standard-table > tbody > tr {
    line-height: 24px;
    box-sizing: border-box;
    display: table-row;
    vertical-align: middle;
}

table.standard-table > tbody > tr > td {
    border-top: 1px solid #d2d2d2;
    vertical-align: baseline;
    text-align: left;
    padding: 20px 16px 20px 24px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(21, 21, 21);
}

table.sortable > thead > tr > th {
    cursor: pointer;
}

table.sortable > thead > tr > th:hover {
    color: #e91e63;
}

th.selected {
    color: #e91e63;
}

table.compact > tbody > tr > td{
    padding: 14px 8px 12px 24px;
}

/* -=-=-=-=-=-=-=- Form Related Items -=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=- Labels -=-=-=-=-=-=-=- */

form.standard-form label.label {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3;
    color: #151515;
    padding: 0.5rem 0 0.5rem 0;
    display: inline-block;
}

form.standard-form label.label .text {
    font-weight: 700;
}

form.standard-form label.label .required {
    color: #c9190b;
}

/* -=-=-=-=-=-=-=- Form Misc. -=-=-=-=-=-=-=- */

form.standard-form .helper {
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

form.standard-form .error {
    color: #c9190b;
}

form.standard-form .form-group {
    margin-top: 2rem;
}

/* -=-=-=-=-=-=-=- Input Elements -=-=-=-=-=-=-=- */

form.standard-form .control {
    font-family: 'Red Hat Text', sans-serif;

    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-top-color: #ededed;
    border-right-color: #ededed;
    border-bottom-color: #737679;
    border-left-color: #ededed;
    border-radius: 0;
    display: inline-block;
    outline: none;

    font-size: 16px;
    color: #151515;

    padding: calc(0.375rem - 1px) calc(0.5rem + 3px) calc(0.375rem - 1px) 0.5rem;
    /*height: calc(1rem*1.5 + 1px*2 + calc(0.375rem - 1px) + calc(0.375rem - 1px));*/

    line-height: 1.5;
    transition: box-shadow 0.3s, border-bottom-color 0.2s;
}

form.standard-form .control:hover {
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    border-bottom-color: rgb(0, 102, 204);
    border-bottom-width: 1px;
    transition: box-shadow 0.3s, border-bottom-color 0.3s;
}
form.standard-form .control:focus {
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    border-color: #ededed;
    border-bottom-color: rgb(0, 102, 204);
    border-bottom-width: 2px;
    padding-bottom: calc(0.375rem - 2px);
    transition: box-shadow 0.3s, border-bottom-color 0.3s;
}

form.standard-form .control.invalid {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c9190b' d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E") calc(100% - 0.5rem) 0.5rem/1rem 1rem no-repeat;
    background-size: 1rem 1rem;
    border-bottom-color: #c9190b;
    border-bottom-width: 2px;
}

form.standard-form .control.success {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2392d400' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E") calc(100% - 0.5rem) 0.5rem/1rem 1rem no-repeat;
    background-size: 1rem 1rem;
    border-bottom-color: #92d400;
    border-bottom-width: 2px;
}

/* -=-=-=-=-=-=-=- Buttons -=-=-=-=-=-=-=- */
.st-button {
    border-color: transparent;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 3px;
    display: inline-block;
    outline: none;

    background-color: #06c;
    color: #ffffff;
    font-family: 'Red Hat Text', sans-serif;

    padding: 0.375rem 1rem 0.375rem 1rem;
    cursor: pointer;

    box-shadow: 0 3px 14.4px 0 rgba(0, 0, 0, .20), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    transform: translateY(0);
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
}

.st-button:hover {
    background-color: #004080;
    box-shadow: 0 3px 14.4px 0 rgba(0, 0, 0, 0.22), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
}

.st-button:active {
    background-color: #004080;
}

/* -=-=-=-=-=-=-=- Switch (from checkbox) -=-=-=-=-=-=-=- */

.checkbox-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 12px;
    top: 8px;
}

.checkbox-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.7);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.checkbox-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    bottom: -3px;
    box-shadow: 1px 1px 15px 0 #9e9e9e;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .checkbox-slider {
    background: linear-gradient(90deg, #e91e63 -25%, #f8bbd0 100%);
}

input:focus + .checkbox-slider {
    box-shadow: 0 0 1px #f48fb1;
}

.checkbox-slider {
    transition: box-shadow 0.5s;
}

.checkbox-slider:active {
    box-shadow: 1px 1px 15px 0 #f8bbd0;
    transition: box-shadow 0.1s;
}

input:checked + .checkbox-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 10px 0 #f48fb1;
    transition: .4s;
}