
/* -=- hr -=- */

hr {
    border: none;
    color: #d2d2d2;
    background-color: #d2d2d2;
    height: 1px;
}

/* -=- link -=- */

a.link, .content a {
    color: #0277bd;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: text-shadow 0.3s, text-decoration 0.3s;
    position: relative;
}

a.link:before, .content a {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #009688;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.link:hover:before, .content a {
    visibility: visible;
    transform: scaleX(1);
}

a.link:hover, .content a {
    text-shadow: 0 0 1px #00bcd4;
    transition: text-shadow 0.3s;
}

/* -=- title -=- */

h1.title, h1.title-d {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

h3.title, h3.title-d {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h1.title-d {
    line-height: 2;
}

h3.title-d {
    line-height: 2;
}

/* -=- text -=- */

.content {
    font-family: 'Red Hat Text', sans-serif;
    color: #151515;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
}

.content h1, h1.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h2, h2.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h3, h3.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h4, h4.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h5, h5.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content h6, h6.content {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content li, li.content {
    margin-top: 0.5rem;
}

.content ol, ol.content {
    padding-left: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.content ul, ul.content {
    list-style: disc outside;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.content small, small.content {
    color: #737679;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.content blockquote, blockquote.content {
    border-left-color: #d2d2d2;
    border-left-width: 3px;
    color: #737679;
    font-weight: normal;
    padding: 1rem 1rem 1rem 1rem;
}

.content dl, dl.content {
    column-gap: 3rem;
    row-gap: 1rem;
}

.content dt, dt.content {
    font-weight: 700;
    margin-top: 1rem;
}



/* -=- tables -=- */

table.standard-table {
    text-rendering: optimizeLegibility;
    border-bottom-color: rgb(128, 128, 128);
    line-height: 24px;
    border-collapse: collapse;
}

table.standard-table > thead > tr {
    line-height: 21px;
}

table.standard-table > thead > tr > th {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 16px 16px 16px 24px;
    color: rgb(21, 21, 21);
    border-bottom: 1px solid #d2d2d2;
}

table.standard-table > tbody > tr {
    line-height: 24px;
    box-sizing: border-box;
    display: table-row;
    vertical-align: middle;
}

table.standard-table > tbody > tr > td {
    border-top: 1px solid #d2d2d2;
    vertical-align: baseline;
    text-align: left;
    padding: 20px 16px 20px 24px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(21, 21, 21);
}

table.sortable > thead > tr > th {
    cursor: pointer;
}

table.sortable > thead > tr > th:hover {
    color: #e91e63;
}

th.selected {
    color: #e91e63;
}

table.compact > tbody > tr > td{
    padding: 14px 8px 12px 24px;
}

/* -=-=-=-=-=-=-=- Text Box -=-=-=-=-=-=-=- */

input[type="text"], input[type="number"], input[type="password"], input[type="time"], input[type="date"] {
    margin: 3px 3px 3px 0;
    width: 400px;
    padding: 10px;
    outline: none;
    font-family: 'Nunito', sans-serif;
    border-style: none none solid none;
    border-color: #9E9E9E;
    font-size: 20px;
    color: #424242;
    transition: box-shadow 0.3s, background 0.5s;
}

input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="time"]:hover, input[type="date"]:hover {
    box-shadow: 1px 4px 2px -2px #9E9E9E;
    border-color: #757575;
    transition: border-color 0.5s, box-shadow 0.3s, background 0.5s;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="time"]:focus, input[type="date"]:focus {
    border-color: #424242;
    box-shadow: 1px 4px 2px -2px #9E9E9E;
}